

body{
    background-color: #FEFBF6;

}
.loading {

	font-size: 50px;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
    text-transform: capitalize;
    color: #7F5283;
}

.title {
	text-align: center;
	padding: 50px 0;
}

.title h1{
    position: relative;
    color: #3D3C42;
    font-weight: bold;

} 
.title h1::before {
	content: "";
	position: absolute;
	bottom: -13px;
	width: 100px;
	height: 5px;
	background-color: #A6D1E6;
	left: 50%;
	transform: translate(-50%);
}

main{
    display: flex;
}

.title-job{
    color: #3D3C42;
}
.info-job{
    margin-left: 50px;
}

.date-job {
	color: #7F5283;
	text-transform: capitalize;
	padding: 10px 0;
}

.tasks-job {
	margin: -10px;
}

.tasks-job li{
    
    color: #7F5283;
    list-style: none;
    position: relative;
    margin: 8px 0;
}

.tasks-job li::before {
	content: ".";
	position: absolute;
	left: -21px;
	font-family: "FontAwesome";
	content: "\f138";
	color: #0d6efd;
}

